.modal-header{
    --slds-c-modal-content-color-background: #4040d6;
}
.modal-wrapper{
    opacity:1;
}

.animate-fade-in{
    animation: fadeIn 0.8s ease-in-out;

}

@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}