:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .checkbox-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*gap: 1rem;  Adjust gap as needed */
}

.slds-col {
    margin-bottom: 1rem; /* Adjust margin as needed */
}

.animation-fade-out{
  animation: fadeOut 0.6s ease-in-out;
}

@keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}